
/* BROWSER RESET */
*{
    padding: 0;   
    margin: 0;
}


body{
    background: #000000 url(../images/background1.jpg) no-repeat;
    background-attachment: fixed;
    color: white;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

#main{
    /* width: 90%; */
    max-width: 1300px;
    height: 1100px;
    margin: 0px auto;
    background:linear-gradient(to bottom right,	#343436 ,#757273	);
    box-shadow: 0px 2px 30px #18414e;
    margin-bottom: 40px 
}

#banner{
    width: 100%;
    text-align: center;
    height: 100px;
    font-size: 2em;
    border-radius: 5px;
    background: linear-gradient(to bottom right, #262626 , #000);
    position: relative;
    z-index: 2;
    box-shadow: 0px 2px 10px grey;
}

#banner h1{
    padding-top: 5px;
}

nav{
    max-width: 1250px;
    margin: 0 auto;
    box-shadow: 2px 4px 14px #18414e;
    box-sizing: border-box;
    padding: 10px 70px 10px 70px;
    background: linear-gradient(to bottom left,#99b3ff,#1a53ff);
    border-radius: 5px;
}

nav ul{
    list-style: none;
    text-align: center;
}

nav li{
    display: inline-block;
    margin: 0 10vh;
}

nav li a{
    text-decoration: none; 
    color: white;
}

nav li:last-child{
    margin-right: 0; 
}

nav li:first-child{
    margin-left: 0; 
}

.product_content{
    width: 200px;
    margin: 2.6px;
    height: 144px;
}

.product_text_container{
    float: right;
    width: 95px;
}

.product_image{
    height: 120px;
    width: 100px;
    float: left;
    margin: 2px;
    margin: 10px 4px 0px 1px;
}

.product_header{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 0.9em;
}

.product_description{
    padding-top: 10px;
    text-align: center;
}

.product_description:not(.sale){
    color: red;
}

.sale{
    text-decoration: line-through;
    margin-top: 10px;
    margin-bottom: 10px;
}

#main_landing{
    margin: 80px auto;
    /* background-color: blue; */
    width: 900px;
    padding-top: 25px;
    padding-left: 35px;
    box-sizing: border-box;
    height: 390px;
}

#main_image1{
    width: 360px;
    height: 305px;
}

#main_image2{
    width: 500px;
    height: 340px;
}

.boxes{
    /* background-color: #246175; */
    /* border: 1px solid #061014; */
    background: linear-gradient(to bottom left,  #333333,#00061a ); /*#00061a */
    width: 15.74%;
    height: 150px;
    float: left;
    margin: 5px;
    margin-top: 50px; 
    box-shadow: -6px 8px 30px #242425;
    transition: transform .6s, z-index .6s;
    border-radius: 2px;
}

.zoom:hover{
    transform: scale(1.5);
    z-index: 2;
    position: relative;
    left: 30px;
}

.zoom_right_most:hover{
    transform: scale(1.5);
    z-index: 2;
    position: relative;
    right: 30px;
}


/* .box{
    background-color: #246175;
    border: 1px solid #061014;
    width: 32.53%;
    height: 150px;
    float: left;
    margin: 5px;
    margin-top: 50px; 
    box-shadow: 2px 4px 14px #18414e;
} */

/* .box2{
    background-color: #246175;
    border: 1px solid #061014;
    width: 24.2%;
    height: 150px;
    float: left;
    margin: 5px;
    margin-top: 50px; 
    box-shadow: 2px 4px 14px #18414e;
} */
